<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>وبلاگ</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css"
      integrity="sha384-nU14brUcp6StFntEOOEBvcJm4huWjB0OcIeQ3fltAfSmuZFrkAif0T+UtNGlKKQv"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link
      href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/dropzone@5.9.3/dist/dropzone.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/3.2.6/css/froala_editor.pkgd.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="new-post.css" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md bg-white fixed-top py-6">
        <div class="container flex-column flex-md-row d-flex">
          <div class="d-flex w-100">
            <div class="d-flex w-100">
              <div class="d-flex me-3 pe-2">
                <button
                  class="navbar-toggler me-3 border-0"
                  type="button"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasNavbar"
                  aria-controls="offcanvasNavbar"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>
                <a
                  class="navbar-brand fw-bolder justify-content-center"
                  href="index.html"
                  >وبلاگ</a
                >
                <a href="index.html" class="text-dark mt-1"
                  ><i
                    class="bi bi-house-fill d-md-none align-self-center fs-5 me-3"
                  ></i
                ></a>
                <!-- <a href="login.html" class="text-dark mt-1"
                      ><i
                        class="bi bi-person-circle d-md-none align-self-center fs-5"
                      ></i
                    ></a> -->
              </div>
              <div
                class="offcanvas offcanvas-start"
                tabindex="-1"
                id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel"
              >
                <div class="offcanvas-header">
                  <h5
                    class="offcanvas-title fw-bolder"
                    id="offcanvasNavbarLabel"
                  >
                    وبلاگ
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a
                        class="nav-link active d-flex"
                        aria-current="page"
                        href="index.html"
                        ><i class="bi bi-house-fill me-1"></i>
                        <p class="mb-0">خانه</p></a
                      >
                    </li>
                    <!-- <li class="nav-item">
                          <a
                            class="nav-link d-flex"
                            aria-current="page"
                            href="login.html"
                            ><i class="bi bi-person-circle me-1"></i>
                            <p class="mb-0">ورود</p></a
                          >
                        </li> -->
                    <li class="nav-item dropdown">
                      <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        مطالب
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">مطلب</a></li>
                        <li>
                          <a class="dropdown-item" href="#">مطلب بیشتر</a>
                        </li>
                        <li>
                          <hr class="dropdown-divider" />
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">مطلب دیگر</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <button
              class="btn btn-outline-dark border-0 d-md-none d-flex justify-content-center"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <i class="bi bi-search"></i>
            </button>
            <div class="dropdown d-md-none user-icon">
              <a
                href=""
                class="h-100"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img class="user-icon-img" src="image/image-1.jpg" alt="" />
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="setting-page.html"
                    ><i class="bi bi-person-circle me-2"></i>پنل کاربری</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="new-post.html"
                    ><i class="bi bi-plus-circle me-2"></i>پست جدید</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="bi bi-box-arrow-right me-2"></i>خروج</a
                  >
                </li>
              </ul>
            </div>
          </div>

          <div class="w-100">
            <div class="collapse w-100 d-md-flex" id="collapseExample">
              <div class="input-group my-2 justify-content-end my-md-0">
                <svg
                  class="d-md-none search-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  x="0px"
                  y="0px"
                  width="20"
                  height="20"
                  viewBox="0 0 50 50"
                >
                  <path
                    d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z"
                  ></path>
                </svg>
                <input
                  type="text"
                  class="form-control input-search mt-2 mt-md-0"
                  placeholder="جستجو... "
                  aria-label="Recipient's username"
                  aria-describedby="button-addon2"
                />

                <button
                  class="btn border pt-2 border-start-0 d-none d-md-flex"
                  type="button"
                  id="button-addon2"
                >
                  <i class="bi bi-search text-muted"></i>
                </button>
              </div>
              <div class="dropdown user-icon">
                <a
                  href=""
                  class="d-none d-md-flex h-100"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img class="user-icon-img" src="image/image-1.jpg" alt="" />
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a class="dropdown-item" href="setting-page.html"
                      ><i class="bi bi-person-circle me-2"></i>پنل کاربری</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="new-post.html"
                      ><i class="bi bi-plus-circle me-2"></i>پست جدید</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="#"
                      ><i class="bi bi-box-arrow-right me-2"></i>خروج</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- navbar end -->
    <br />
    <!-- main start -->
    <main class="mt-5">
      <section>
        <div class="container">
          <div class="row shadow-sm">
            <div class="col-md-4 col-lg-3 aside p-0 p-2">
              <ul
                class="list-unstyled h-100 pb-0 mb-0 d-flex flex-column justify-content-evenly justify-content-md-start"
              >
                <li>
                  <a
                    class="btn3637 btn38 active d-flex"
                    href="setting-page.html"
                    ><i class="bi bi-person-circle me-2 py-2"></i>
                    <p class="mb-0 py-2">پنل کاربری</p></a
                  >
                </li>
                <li>
                  <a class="btn3637 btn38 d-flex" href="new-post.html"
                    ><i class="bi bi-plus-circle me-2 py-2"></i>
                    <p class="mb-0 py-2">پست جدید</p></a
                  >
                </li>
                <li class="exit mt-auto">
                  <a class="btn3637 exit-btn d-flex" href="#"
                    ><i class="bi bi-box-arrow-right me-2 py-2"></i>
                    <p class="mb-0 py-2">خروج</p></a
                  >
                </li>
              </ul>
            </div>
            <div class="col-md-8 col-lg-9 main p-4 bg-white" dir="ltr">
              <div class="user-content mb-5 h-75" dir="rtl">
                <div class="mb-auto">
                  <h3 class="fs-2">بارگذاری بنر پست :</h3>

                  <div class="preview-container" id="previewContainer">
                    <div class="upload-form">
                      <input type="file" id="banner" accept="image/*" />
                      <label
                        class="btn btn-secondary mb-3"
                        for="banner"
                        id="selectBtn"
                        >بارگذاری عکس</label
                      >
                    </div>
                    <img
                      class="previewImg"
                      id="previewImg"
                      src="image/uploadsvg.svg"
                      alt="Preview Image"
                    />
                    <button
                      class="delete-button"
                      id="deleteBtn"
                      title="Delete Image"
                    >
                      &times;
                    </button>
                    <p class="mt-2" id="imageText">عکس را بکشید و رها کنید</p>
                  </div>

                  <div class="upload-message" id="message"></div>
                </div>
                <h3 class="fs-2 mb-3 mt-5">متن پست :</h3>
                <div class="overflow-x-hidden">
                  <textarea id="myEditor"></textarea>
                </div>
                <button class="btn btn-secondary mt-4">آپلود پست</button>
                <br />
                <br />
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- main end -->
    <br /><br /><br /><br />

    <!-- footer start -->
    <footer class="bg-secondary">
      <div class="container">
        <div class="row">
          <div class="col mt-4 mb-2">
            <h3 class="fw-bolder text-center text-md-start text-white fs-1">
              وبلاگ
            </h3>
          </div>
        </div>
        <div class="row text-white">
          <div
            class="col-md-4 flex-column align-items-center align-items-md-start pe-md-5"
          >
            <div
              class="row justify-content-center justify-content-md-start mb-2"
            >
              <div class="col-2 d-flex justify-content-center px-4">
                <a href=""><i class="footer-hover bi bi-envelope fs-3"></i></a>
              </div>
              <div class="col-2 d-flex justify-content-center px-4">
                <a href=""><i class="bi bi-instagram fs-3"></i></a>
              </div>
              <div class="col-2 d-flex justify-content-center px-4">
                <a href=""><i class="footer-hover bi bi-facebook fs-3"></i></a>
              </div>
              <div class="col-2 d-flex justify-content-center px-4">
                <a href=""><i class="footer-hover bi bi-twitter-x fs-3"></i></a>
              </div>
            </div>
            <p class="text-center footer-info text-md-start">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
              ستون
            </p>
            <p style="font-size: 1rem">
              <i class="bi bi-telephone-fill fs-5"></i> +98 9**-***-****
            </p>
          </div>
          <hr class="d-md-none" />
          <div class="col-md-4 d-flex justify-content-center">
            <ul class="list-unstyled text-center text-white">
              <li class="mt-1">
                <h5 class="fw-bolder fs-3 footer-hover">با وبلاگ</h5>
              </li>
              <li class="mt-1">
                <a
                  href=""
                  class="text-decoration-none footer-hover"
                  style="font-size: 0.9rem"
                  >تماس با ما
                </a>
              </li>
              <li class="mt-1">
                <a
                  href=""
                  class="text-decoration-none footer-hover"
                  style="font-size: 0.9rem"
                  >درباره ما
                </a>
              </li>
              <li class="mt-1">
                <a
                  href=""
                  class="text-decoration-none footer-hover"
                  style="font-size: 0.9rem"
                  >همکاری با ما</a
                >
              </li>
            </ul>
          </div>
          <hr class="d-md-none px-5" />
          <div class="col-md-4 d-flex justify-content-center">
            <ul class="list-unstyled text-center text-white">
              <li class="mt-1">
                <h5 class="fw-bolder fs-3 footer-hover">لورم</h5>
              </li>
              <li class="mt-1">
                <a
                  href=""
                  class="text-decoration-none footer-hover"
                  style="font-size: 0.9rem"
                  >لورم
                </a>
              </li>
              <li class="mt-1">
                <a
                  href=""
                  class="text-decoration-none footer-hover"
                  style="font-size: 0.9rem"
                  >لورم
                </a>
              </li>
              <li class="mt-1">
                <a
                  href=""
                  class="text-decoration-none footer-hover"
                  style="font-size: 0.9rem"
                  >لورم</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- footer end -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/3.2.6/js/froala_editor.pkgd.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/3.2.6/js/languages/fa.js"
    ></script>
    <script>
      window.addEventListener("scroll", function () {
        var nav = document.querySelector("nav");
        nav.classList.toggle("border-bottom", window.scrollY > 0);
        nav.classList.toggle("shadow-sm", window.scrollY > 0);
        nav.classList.toggle("py-6", window.scrollY === 0);
      });
    </script>

    <script>
      const selectBtn = document.getElementById("selectBtn");
      const previewImg = document.getElementById("previewImg");
      const deleteBtn = document.getElementById("deleteBtn");
      const imageText = document.getElementById("imageText");
      const uploadForm = document.querySelector(".upload-form");

      let uploadedImage = null;

      selectBtn.addEventListener("click", function () {
        document.getElementById("banner").click();
      });

      document
        .getElementById("banner")
        .addEventListener("change", function (e) {
          const file = e.target.files[0];
          const reader = new FileReader();

          reader.onload = function (e) {
            previewImg.setAttribute("src", e.target.result);
            deleteBtn.style.display = "block";
            imageText.style.display = "none";
            uploadForm.style.display = "none";
          };

          if (file) {
            reader.readAsDataURL(file);
            uploadedImage = file;
          } else {
            previewImg.setAttribute("src", "image/uploadsvg.svg");
            deleteBtn.style.display = "none";
            uploadedImage = null;
            imageText.style.display = "block";
            uploadForm.style.display = "block";
          }
        });

      deleteBtn.addEventListener("click", function () {
        previewImg.setAttribute("src", "image/uploadsvg.svg");
        deleteBtn.style.display = "none";
        uploadedImage = null;
        document.getElementById("banner").value = "";
        imageText.style.display = "block";
        uploadForm.style.display = "block";
      });

      previewContainer.addEventListener("dragover", function (e) {
        e.preventDefault();
        e.stopPropagation();
        previewContainer.classList.add("dragover");
      });

      previewContainer.addEventListener("dragleave", function (e) {
        e.preventDefault();
        e.stopPropagation();
        previewContainer.classList.remove("dragover");
      });

      previewContainer.addEventListener("drop", function (e) {
        e.preventDefault();
        e.stopPropagation();
        previewContainer.classList.remove("dragover");

        const file = e.dataTransfer.files[0];
        const reader = new FileReader();

        reader.onload = function (e) {
          previewImg.setAttribute("src", e.target.result);
          deleteBtn.style.display = "block";
          imageText.style.display = "none";
          uploadForm.style.display = "none";
        };

        if (file) {
          reader.readAsDataURL(file);
          uploadedImage = file;
        } else {
          previewImg.setAttribute("src", "image/uploadsvg.svg");
          deleteBtn.style.display = "none";
          uploadedImage = null;
          imageText.style.display = "block";
          uploadForm.style.display = "block";
        }
      });

      deleteBtn.addEventListener("click", function () {
        previewImg.setAttribute("src", "image/uploadsvg.svg");
        deleteBtn.style.display = "none";
        uploadedImage = null;
        document.getElementById("banner").value = "";
        imageText.style.display = "block";
        uploadForm.style.display = "block";
      });
    </script>

    <script>
      // Initialize the Froala Text Editor with Persian language and font options
      var editor = new FroalaEditor("#myEditor", {
        language: "fa", // Set the language to 'fa' for Persian
        fontFamilySelection: true, // Enable font family selection

        // Define the list of fonts to display in the dropdown
        fontFamily: {
          "Arial,Helvetica,sans-serif": "Arial",
          "Georgia,serif": "Georgia",
          "Impact,Charcoal,sans-serif": "Impact",
          "Tahoma,Geneva,sans-serif": "Tahoma",
          "Times New Roman,Times,serif": "Times New Roman",
          "Verdana,Geneva,sans-serif": "Verdana",
          "Vazirmatn, sans-serif": "Vazirmatn",
        },

        // Specify other options here
      });
    </script>
  </body>
</html>
